*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw; }

a {
  color: white;
  text-decoration: none; }

.hero {
  background: url("../images/hero-slide1.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden; }
  @media only screen and (max-width: 750px) {
    .hero {
      width: 100%;
      text-align: center; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/* Pulse */
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%; }
  .main-title .small-title {
    font-size: 1.5em;
    text-transform: uppercase; }
  .main-title h1 {
    text-transform: uppercase;
    font-size: 7em;
    margin: auto 0; }
  .main-title .title-line {
    width: 250px;
    height: 8px;
    background: white;
    margin-top: 20px; }

.picture-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .picture-section .section-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30em;
    color: white;
    padding: 3%; }
    @media only screen and (max-width: 750px) {
      .picture-section .section-item {
        height: 10em;
        margin: 1%;
        width: 100%; } }
  .picture-section h4 {
    text-transform: uppercase;
    font-size: 1.5em; }

.section-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }
  .section-item:hover, .section-item:focus, .section-item:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }

hr {
  width: 4em;
  display: block;
  border: 0;
  border-top: 6px solid;
  color: #dc7725;
  margin: 1em 0;
  padding: 0; }

#picture-one {
  width: 50%;
  background: url("../images/1.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-one {
      width: 100%; } }

#picture-two {
  width: 25%;
  background: url("../images/2.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-two {
      width: 100%; } }

#picture-three {
  width: 25%;
  background: url("../images/3.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-three {
      width: 100%; } }

#picture-four {
  width: 25%;
  background: url("../images/4.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-four {
      width: 100%; } }

#picture-five {
  width: 25%;
  background: url("../images/5.jpg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-five {
      width: 100%; } }

#picture-six {
  width: 50%;
  background: url("../images/6.jpeg");
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 750px) {
    #picture-six {
      width: 100%; } }

.navigation-wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.title-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 160px; }

.title-nav-wrap:hover {
  color: #dc7725; }

.logo-wrap {
  width: 50px; }
  .logo-wrap svg {
    width: 100%; }

.nav-list {
  display: flex;
  list-style: none;
  text-decoration: none; }
  .nav-list a {
    text-decoration: none;
    list-style: none;
    color: white; }
  .nav-list li {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around; }

@media only screen and (max-width: 750px) {
  .nav-list {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    align-content: flex-start;
    justify-content: flex-start; } }

.logo {
  display: flex; }
  @media only screen and (max-width: 750px) {
    .logo {
      display: none; } }
  .logo h2 {
    display: flex;
    align-items: center;
    margin-left: 10px; }

.nav-list :first-child a:hover {
  color: #dc7725; }
.nav-list :nth-child(1) a:hover {
  color: #dc7725; }
.nav-list :nth-child(2) a:hover {
  color: #dc7725; }
.nav-list :nth-child(3) a:hover {
  color: #dc7725; }
.nav-list :nth-child(4) a:hover {
  color: #dc7725; }
.nav-list :nth-child(5) a:hover {
  color: #dc7725; }
.nav-list :last-child a:hover {
  color: #dc7725; }

.explore-button-wrapper {
  width: 170px;
  height: 65px;
  background: #dc7725;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 325px;
  position: relative;
  color: #fff;
  animation: pulse 1s ease infinite; }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.explore-button-wrapper::before {
  content: 'EXPLORE BELOW'; }

.explore-button-wrapper::after {
  content: '';
  border-top: 10px solid #dc7725;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 40%;
  top: 100%; }

/*# sourceMappingURL=main.css.map */
