@import "base/index";
@import "helpers/index";

//Main-image-title

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  .small-title {
    font-size: 1.5em;
    text-transform: uppercase;
  }
  h1 {
    text-transform: uppercase;
    font-size: 7em;
    margin: auto 0;
  }
  .title-line {
    width: 250px;
    height: 8px;
    background: white;
    margin-top: 20px;
  }
}

//Explore button

.explore-button-wrapper {
  width: 170px;
  height: 65px;
  background: $hover-over;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 325px;
  position: relative;
}

.explore-button-wrapper::before {
  content:'EXPLORE BELOW';
}

.explore-button-wrapper::after {
  content: '';
  border-top: 10px solid $hover-over;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  right: 40%;
  top: 100%;

}

//Navigation

.navigation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 160px;
}

.title-nav-wrap:hover {
  color: $hover-over;
}

.logo-wrap {
  width: 50px;
  svg {
    width: 100%;
  }
}

//Navigation bar

.nav-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  li {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.nav-list{
  @media only screen and (max-width: 750px){
    display: flex;
    flex-direction: column;
    // align-content: center;
    // justify-content: center;
    margin-left: 2px;;

  }
}

.logo {
  @media only screen and (max-width: 750px){
    display: none;
}
}
.nav-list {
  :first-child a:hover {
    color: $hover-over;
  }
  :nth-child(1) a:hover {
    color: $hover-over;
  }
  :nth-child(2) a:hover{
    color: $hover-over;
  }
  :nth-child(3) a:hover {
    color: $hover-over;
  }
  :nth-child(4) a:hover{
    color: $hover-over;
  }
  :nth-child(5) a:hover{
    color: $hover-over;
  }
  :last-child a:hover {
    color: $hover-over;
  }
}
