// Picture layout

.picture-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & .section-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30em;
    color: white;
    padding: 3%;
    @media only screen and (max-width: 750px) {
      height: 10em;
      margin: 1%;
      width: 100%;
    }
  }
  & h4 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.section-item {
  opacity: 1;
}

.section-item:hover {
  opacity: .5;
}

hr {
  width: 4em;
  display: block;
  border: 0;
  border-top: 6px solid;
  color: #dc7725;
  margin: 1em 0;
  padding: 0;
}

#picture-one {
  width: 50%;
  background: url("../images/1.jpg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}

#picture-two {
  width: 25%;
  background: url("../images/2.jpg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}
#picture-three {
  width: 25%;
  background: url("../images/3.jpg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}
#picture-four {
  width: 25%;
  background: url("../images/4.jpg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}

#picture-five {
  width: 25%;
  background: url("../images/5.jpg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}

#picture-six {
  width: 50%;
  background: url("../images/6.jpeg");
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: 750px){
    width: 100%;
  }
}
