@mixin picture {
  background-size: cover;
  background-position: center;
}

@mixin magic {
  color: #fff;
  animation: pulse 1s ease infinite;
}

@mixin more-magic {
  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }
}


/* Pulse */
@mixin kaboom {
  @-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
